<IfModule mod_php.c>
    # PHP Configurations (Only applied if supported)
    php_value allow_url_fopen On
    php_flag display_errors On
</IfModule>

# Allow the HTTP authorization header to be used in session validations
SetEnvIfNoCase ^Authorization$ "(.+)" HTTP_AUTHORIZATION=$1

RewriteEngine On

# Remove file extensions from URLs
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [L]

# Prettify query strings in URLs
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteRule ^(.*)/(.*)/(.*)/?$      $1?link=$2&opt2=$3 [NC,L]
# RewriteRule ^(.*)/(.*)/?$           $1?link=$2 [NC,L]

# Provide Specific Index Page (Set the default handler)
DirectoryIndex home.php